$panel_margin: 10px;
$default_brightness: brightness(0.4);
$default_panel_links_color: hsl(321, 100%, 60%);
$default_panel_border_radius: 10px;
$default_panel_padding: 20px;
$default_panel_cover_background: rgba(hsl(270, 50%, 10%),0);
$default_panel_cover_background_hover: rgba(hsl(270, 50%, 10%),0.5);

.title{
    visibility: hidden;
    font-size: 1.25rem;
    font-weight: bold;
}

.links{
    visibility: hidden;
    display: flex;
    flex-direction: row;
}

.links__item_github{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $default_panel_links_color;

    &:hover{
        filter: brightness(3);
    }
}

.links__item_live{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $default_panel_links_color;
    margin: 0px 0px 0px 10px;

    &:hover{
        filter: brightness(3);
    }
}

.links__item_play-store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $default_panel_links_color;
    margin: 0px 0px 0px 10px;

    &:hover{
        filter: brightness(3);
    }
}

.links__item_chrome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $default_panel_links_color;
    margin: 0px 0px 0px 10px;

    &:hover{
        filter: brightness(3);
    }
}

.links-item__icon{
    width: 20px;
    aspect-ratio: 1;
}

.gallery-content__loading-panel_one{
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    animation: 0.8s infinite alternate loading;
    background-color: hsl(270, 50%, 40%);
    box-sizing: border-box;
    border-radius: $default_panel_border_radius;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: $default_panel_padding;
    margin: $panel_margin;

    &:hover{
        background-color: $default_panel_cover_background_hover;
        backdrop-filter: $default_brightness;
    }
}

.gallery-content__loading-panel_two{
    color: #f0f0f0;
    animation: 0.8s infinite alternate loading;
    background-color: hsl(270, 50%, 20%);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: $default_panel_border_radius;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: $default_panel_padding;
    margin: $panel_margin;

    &:hover{
        background-color: $default_panel_cover_background_hover;
        backdrop-filter: $default_brightness;
    }
}

.gallery-content__loading-panel_three{
    color: #222222;
    animation: 0.8s infinite alternate loading;
    background-color: hsl(270, 50%, 78%);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: $default_panel_border_radius;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: $default_panel_padding;
    margin: $panel_margin;

    &:hover{
        background-color: $default_panel_cover_background_hover;
        backdrop-filter: $default_brightness;
    }
}

.gallery-content__loading-panel_four{
    color: #f0f0f0;
    animation: 0.8s infinite alternate loading;
    background-color: hsl(270, 50%, 60%);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: $default_panel_border_radius;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: $default_panel_padding;
    margin: $panel_margin;

    &:hover{
        background-color: $default_panel_cover_background_hover;
        backdrop-filter: $default_brightness;
    }
}

.gallery-content__loading-panel_five{
    color: #f0f0f0;
    animation: 0.8s infinite alternate loading;
    background-color: hsl(270, 50%, 40%);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: $default_panel_border_radius;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: $default_panel_padding;
    margin: $panel_margin;

    &:hover{
        background-color: $default_panel_cover_background_hover;
        backdrop-filter: $default_brightness;
    }
}

.gallery-content__loading-panel_six{
    color: #f0f0f0;
    animation: 0.8s infinite alternate loading;
    background-color: hsl(270, 50%, 53%);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: $default_panel_border_radius;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: $default_panel_padding;
    margin: $panel_margin;

    &:hover{
        background-color: $default_panel_cover_background_hover;
        backdrop-filter: $default_brightness;
    }
}

.gallery-content__content-panel_one{
    top: 0;
    left: 0;
    position: absolute;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    background-color: $default_panel_cover_background;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: $default_panel_padding;
    box-sizing: border-box;
    gap: 10px;
    border-radius: $default_panel_border_radius;
    width: 100%;
    height: 100%;

    &:hover{
        .links{
            visibility: visible;
        }

        .title{
            visibility: visible;
        }
    }
}

.gallery-content__content-panel_two{
    top: 0;
    left: 0;
    position: absolute;
    color: #f0f0f0;
    background-color: $default_panel_cover_background;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: $default_panel_padding;
    box-sizing: border-box;
    gap: 10px;
    border-radius: $default_panel_border_radius;
    width: 100%;
    height: 100%;

    &:hover{
        .links{
            visibility: visible;
        }

        .title{
            visibility: visible;
        }
    }
}

.gallery-content__content-panel_three{
    top: 0;
    left: 0;
    position: absolute;
    color: #222222;
    background-color: $default_panel_cover_background;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: $default_panel_padding;
    box-sizing: border-box;
    gap: 10px;
    border-radius: $default_panel_border_radius;
    width: 100%;
    height: 100%;
    
    &:hover{
        .links{
            visibility: visible;
        }

        .title{
            visibility: visible;
        }

        color: #f0f0f0;
    }
}

.gallery-content__content-panel_four{
    top: 0;
    left: 0;
    position: absolute;
    color: #f0f0f0;
    background-color: $default_panel_cover_background;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: $default_panel_padding;
    box-sizing: border-box;
    gap: 10px;
    border-radius: $default_panel_border_radius;
    width: 100%;
    height: 100%;
    
    &:hover{
        .links{
            visibility: visible;
        }

        .title{
            visibility: visible;
        }
    }
}

.gallery-content__content-panel_five{
    top: 0;
    left: 0;
    position: absolute;
    color: #f0f0f0;
    background-color: $default_panel_cover_background;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: $default_panel_padding;
    box-sizing: border-box;
    gap: 10px;
    border-radius: $default_panel_border_radius;
    width: 100%;
    height: 100%;
    
    &:hover{
        .links{
            visibility: visible;
        }

        .title{
            visibility: visible;
        }

        background-color: $default_panel_cover_background_hover;
        backdrop-filter: $default_brightness;
    }
}

.gallery-content__content-panel_six{
    top: 0;
    left: 0;
    position: absolute;
    color: #f0f0f0;
    background-color: $default_panel_cover_background;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: $default_panel_padding;
    box-sizing: border-box;
    border-radius: $default_panel_border_radius;
    width: 100%;
    height: 100%;

    &:hover{
        .links{
            visibility: visible;
        }

        .title{
            visibility: visible;
        }

        background-color: $default_panel_cover_background_hover;
        backdrop-filter: $default_brightness;
    }
}

@keyframes loading {
    from {
        filter: brightness(1);
    }

    10%{
        filter: brightness(1.02);
    }

    20%{
        filter: brightness(1.04);
    }

    30%{
        filter: brightness(1.06);
    }

    40%{
        filter: brightness(1.08);
    }

    50%{
        filter: brightness(1.1);
    }

    60%{
        filter: brightness(1.12);
    }

    70%{
        filter: brightness(1.14);
    }

    80%{
        filter: brightness(1.16);
    }

    90%{
        filter: brightness(1.18);
    }

    to {
        filter: brightness(1.2);
    }
}

@media screen and (min-width: 1000px){
    .gallery-content_one{
        width: 100%;
        aspect-ratio: 2 / 1;
        display: flex;
        flex-direction: row;

        .column-one{
            display: flex;
            flex-direction: column;
            flex-grow: 7;
            flex-shrink: 0;
            flex-basis: 70%;

            .row-one{
                display: flex;
                flex-direction: row;
                flex-grow: 3;
                flex-shrink: 0;
                flex-basis: 30%;

                .gallery-content__loading-panel_one{            
                    position: relative;
                    flex-grow: 5;
                    flex-shrink: 0;
                    flex-basis: calc(50% - 2*$panel_margin);
                    margin-left: 0;
                }
                .gallery-content__loading-panel_two{            
                    position: relative;
                    flex-grow: 5;
                    flex-shrink: 0;
                    flex-basis: calc(50% - 2*$panel_margin);
                }
            }

            .row-two{
                display: flex;
                flex-direction: row;       
                flex-grow: 7;
                flex-shrink: 0;
                flex-basis: 70%;

                .gallery-content__loading-panel_three{
                    position: relative;
                                
                    flex-grow: 6;
                    flex-shrink: 0;
                    flex-basis: calc(60% - 2*$panel_margin);
                    margin-left: 0;
                }
                .gallery-content__loading-panel_four{
                    position: relative;
                                
                    flex-grow: 4;
                    flex-shrink: 0;
                    flex-basis: calc(40% - 2*$panel_margin);
                }
            }
        }

        .column-two{
            display: flex;
            flex-direction: column;
            flex-grow: 3;
            flex-shrink: 0;
            flex-basis: 30%;

            .gallery-content__loading-panel_five{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(100% - 2*$panel_margin);
                margin-right: 0;
            }
        }
    }

    .gallery-content_two{
        width: 100%;
        aspect-ratio: 2 / 1;
        display: flex;
        flex-direction: row;

        .column-one{
            display: flex;
            flex-direction: column;
            flex-grow: 3;
            flex-shrink: 0;
            flex-basis: 30%;

            .gallery-content__loading-panel_one{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(100% - 2*$panel_margin);
                margin-left: 0;
            }
        }

        .column-two{
            display: flex;
            flex-direction: column;
            flex-grow: 2;
            flex-shrink: 0;
            flex-basis: 20%;

            .gallery-content__loading-panel_two{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(50% - 2*$panel_margin);
            }

            .gallery-content__loading-panel_three{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(50% - 2*$panel_margin);
            }
        }

        .column-three{
            display: flex;
            flex-direction: column;
            flex-grow: 5;
            flex-shrink: 0;
            flex-basis: 50%;

            .row-one{
                display: flex;
                flex-direction: row;
                flex-grow: 4;
                flex-shrink: 0;
                flex-basis: 40%;

                .gallery-content__loading-panel_four{
                    position: relative;
                    flex-grow: 6;
                    flex-shrink: 0;
                    flex-basis: calc(60% - 2*$panel_margin);
                    margin: $panel_margin
                }

                .gallery-content__loading-panel_five{
                    position: relative;
                    flex-grow: 4;
                    flex-shrink: 0;
                    flex-basis: calc(40% - 2*$panel_margin);
                    margin-right: 0;
                }
            }

            .row-two{
                display: flex;
                flex-direction: row;
                flex-grow: 6;
                flex-shrink: 0;
                flex-basis: 60%;

                .gallery-content__loading-panel_six{
                    position: relative;
                    flex-grow: 1;
                    flex-shrink: 0;
                    flex-basis: calc(100% - 2*$panel_margin);
                    margin-right: 0;
                }
            }
        }
    }

    .gallery-content_three{
        width: 100%;
        aspect-ratio: 2 / 1;
        display: flex;
        flex-direction: row;

        .column-one{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(100%/3);

            .gallery-content__loading-panel_one{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(100% - 2*$panel_margin);
                margin-left: 0;
            }
        }

        .column-two{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(100%/3);

            .gallery-content__loading-panel_two{
                position: relative;
                flex-grow: 3;
                flex-shrink: 0;
                flex-basis: calc(30% - 2*$panel_margin);
            }

            .gallery-content__loading-panel_three{
                position: relative;
                flex-grow: 7;
                flex-shrink: 0;
                flex-basis: calc(70% - 2*$panel_margin);
            }
        }

        .column-three{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(100%/3);

            .gallery-content__loading-panel_four{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(100% - 2*$panel_margin);
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    
    .gallery-content_one{
            width: 100%;
            aspect-ratio: 1 / 2;
            display: flex;
            flex-direction: column;
    
            .column-one{
                display: flex;
                flex-direction: row;    
                flex-grow: 7;
                flex-shrink: 0;
                flex-basis: 70%;
    
                .row-one{
                    display: flex;
                    flex-direction: column;
                    flex-grow: 3;
                    flex-shrink: 0;
                    flex-basis: 30%;
    
                    .gallery-content__loading-panel_one{   
                        position: relative;         
                        flex-grow: 5;
                        flex-shrink: 0;
                        flex-basis: calc(50% - 2*$panel_margin);
                    }
                    .gallery-content__loading-panel_two{   
                        position: relative;         
                        flex-grow: 5;
                        flex-shrink: 0;
                        flex-basis: calc(50% - 2*$panel_margin);
                    }
                }
    
                .row-two{
                    display: flex;
                    flex-direction: column;       
                    flex-grow: 7;
                    flex-shrink: 0;
                    flex-basis: 70%;
    
                    .gallery-content__loading-panel_three{
                        position: relative;          
                        flex-grow: 6;
                        flex-shrink: 0;
                        flex-basis: calc(60% - 2*$panel_margin);
                    }
                    .gallery-content__loading-panel_four{
                        position: relative;   
                        flex-grow: 4;
                        flex-shrink: 0;
                        flex-basis: calc(40% - 2*$panel_margin);
                    }
                }
            }
    
            .column-two{
                display: flex;
                flex-direction: row;    
                flex-grow: 3;
                flex-shrink: 0;
                flex-basis: 30%;
    
                .gallery-content__loading-panel_five{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-shrink: 0;
                    flex-basis: calc(100% - 2*$panel_margin);
                }
            }
    }
    
    .gallery-content_two{
        width: 100%;
        aspect-ratio: 1 / 2;
        display: flex;
        flex-direction: column;
    
        .column-one{
            display: flex;
            flex-direction: row;
            flex-grow: 3;
            flex-shrink: 0;
            flex-basis: 30%;
    
            .gallery-content__loading-panel_one{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(100% - 2*$panel_margin);
            }
        }
    
        .column-two{
            display: flex;
            flex-direction: row;
            flex-grow: 2;
            flex-shrink: 0;
            flex-basis: 20%;
    
            .gallery-content__loading-panel_two{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(50% - 2*$panel_margin);
            }
    
            .gallery-content__loading-panel_three{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(50% - 2*$panel_margin);
            }
        }
    
        .column-three{
            display: flex;
            flex-direction: row;
            flex-grow: 5;
            flex-shrink: 0;
            flex-basis: 50%;
    
            .row-one{
                display: flex;
                flex-direction: column;
                flex-grow: 4;
                flex-shrink: 0;
                flex-basis: 40%;
    
                .gallery-content__loading-panel_four{
                    position: relative;
                    flex-grow: 6;
                    flex-shrink: 0;
                    flex-basis: calc(60% - 2*$panel_margin);
                    margin: $panel_margin
                }
    
                .gallery-content__loading-panel_five{
                    position: relative;
                    flex-grow: 4;
                    flex-shrink: 0;
                    flex-basis: calc(40% - 2*$panel_margin);
                }
            }
    
            .row-two{
                display: flex;
                flex-direction: column;
                flex-grow: 6;
                flex-shrink: 0;
                flex-basis: 60%;
    
                .gallery-content__loading-panel_six{
                    position: relative;
                    flex-grow: 1;
                    flex-shrink: 0;
                    flex-basis: calc(100% - 2*$panel_margin);
                }
            }
        }
    }
    
    .gallery-content_three{
        width: 100%;
        aspect-ratio: 1 / 2;
        display: flex;
        flex-direction: column;
    
        .column-one{
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(100%/3);
    
            .gallery-content__loading-panel_one{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(100% - 2*$panel_margin);
            }
        }
    
        .column-two{
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(100%/3);
    
            .gallery-content__loading-panel_two{
                position: relative;
                flex-grow: 3;
                flex-shrink: 0;
                flex-basis: calc(30% - 2*$panel_margin);
            }
    
            .gallery-content__loading-panel_three{
                position: relative;
                flex-grow: 7;
                flex-shrink: 0;
                flex-basis: calc(70% - 2*$panel_margin);
            }
        }
    
        .column-three{
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(100%/3);
    
            .gallery-content__loading-panel_four{
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(100% - 2*$panel_margin);
            }
        }
    }
}

@media screen and (max-width: 700px){
    
    .links__item{
        width: 20px;
    }

}