$background: linear-gradient(90deg, #290099, 50%, #8B33FF 100%);
$cta_color: #FF3377;
$border_radius: 10px;
$components_background: linear-gradient(90deg, #001166 0%, #001A99 100%);
$portfolio_item_background: linear-gradient(90.17deg, #002266 0.14%, #003399 99.86%);
$portfolio_item_control_background: linear-gradient(270deg, #0026E6 0%, #001EB3 100%);
$default_shadow: 2px 2px 4px 0px rgba(0,0,0,0.3);
$success_color: #48E862;
$hover_filter: brightness(1.4);

html{
  width: 100vw;
  min-height: 100vh;
  font-family: helvetica;
}

body{
  padding: 0px;
  margin: 0px;
  width: 100vw;
  min-height: 100vh;
  background: $background;
}

#app{
  width: 100%;
  min-height: 100vh;
  background-image: url('portfolio_illustration_final.svg');
  background-position: 800px 150px;
  background-repeat: no-repeat;
  background-size: 50%;
}

.content{
  padding: 0px 0px 50px 0px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.content-header{
  display: flex;
  flex-direction: row;
  margin: 40px 100px 80px 100px;
  align-items: center;
  gap: 80px;
}

.content-header-logo{
  cursor: pointer;
  background-image: url('logo.svg');
  width: 50px;
  aspect-ratio: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover{
    filter: $hover_filter;
  }
}

.content-header-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  flex-wrap: nowrap;
}

.content-header-menu__item{
  text-decoration: none;
  color: #e0e0e0;
  font-size: 1.25rem;
  
  &:hover{
    filter: $hover_filter;
  }
}

.content-header-dropdown{
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-header-dropdown__logo{
  width: 60px;
  aspect-ratio: 1;
  background-image: url('dropdown.svg');
  bottom: 0;
  left: 0;
}

.content-header-dropdown__list{
  gap: 20px;
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  border-radius: $border_radius;
}

.content-header-dropdown-list__item{
  white-space: nowrap;
  color: #222222;
  text-decoration: none;
  font-weight: bold;
}

.content-sides{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content__left{
  padding: 0px 135px 50px 100px;
  box-sizing: border-box;
  max-width: 550px;
  min-width: 550px;
  flex-grow: 0;
}

.hero-section{
  display: flex;
  flex-direction: column;
}

.hero-section__main{
  text-align: start;
  font-size: 4rem;
  font-weight: bold;
  margin: 0px 0px 40px 0px;
  color: #ffffff;
}

.hero-section__sub{
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  margin: 0px 0px 80px 0px;
  color: #ffffff;
}

.hero-section__cta{
  height: 80px;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: $cta_color;
  border-radius: $border_radius;
  border: none;
  box-shadow: $default_shadow;

  &:hover{
    filter: $hover_filter;
  }
}

.content__right{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.portfolio{
  padding: 30px;
  background: $components_background;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: $border_radius;
  max-width: 900px;
  box-sizing: border-box;
  box-shadow: $default_shadow;
}

.portfolio-header{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.portfolio-header__title{
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff
}

.portfolio-header__sub{
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff
}

.portfolio-filters{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio-list-item{
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  box-sizing: border-box;
  background: $portfolio_item_background;
  border-radius: $border_radius;
  box-shadow: $default_shadow;
}

.portfolio-list-item-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio-list-item-info__title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.portfolio-list-item-info-main{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.portfolio-list-item-info-main__icon{
  padding: 10px;
  box-sizing: border-box;
  height: 100px;
  aspect-ratio: 1;
  border-radius: $border_radius;
  background-color: #C599FF;
  box-shadow: $default_shadow;
}

.portfolio-list-item-info-main__description{
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  word-break: break-all;
  color: #ffffff;
}

.portfolio-list-item-controls{
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}

.portfolio-list-item-controls-item{
  border-radius: $border_radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  aspect-ratio: 1;
  background: $portfolio_item_control_background;
  box-shadow: $default_shadow;
  
  &:hover{
    filter: $hover_filter;
  }
}

.portfolio-list-item-controls-item__icon{
  width: 30px;
  aspect-ratio: 1;
}

.input-group{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group__label{
  font-size: 1rem;
  color: #ffffff;
}

.input-group__input{
  padding: 0px 0px 0px 20px;
  height: 40px;
  font-size: 1rem;
  color: #222222;
  border-radius: $border_radius;
  border: none;
  box-shadow: $default_shadow;
}

.input-group__input_textarea{
  padding: 10px 10px 10px 20px;
  font-size: 1rem;
  color: #222222;
  border-radius: $border_radius;
  border: none;
}

.input-group__input_select{
  padding: 0px 0px 0px 20px;
  height: 40px;
  font-size: 1rem;
  color: #222222;
  border-radius: $border_radius;
  border: none;
  border-right: 20px solid transparent;
  box-shadow: $default_shadow;
}

.about-me{
  display: flex;
  flex-direction: column;
  border-radius: $border_radius;
  background: $components_background;
  gap: 30px;
  padding: 30px;
  box-sizing: border-box;
  max-width: 700px;
}

.about-me-header{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-header__title{
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
}

.about-me-header__sub{
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}

.about-me-main{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-me-main__portrait{
  width: 144px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0px 40px 0px 0px;
  background-color: #C599FF;
  box-shadow: $default_shadow;
}

.about-me-main-info{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.about-me-main-info__name{
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}

.about-me-main-info__exp_time{
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0px 0px 5px 0px;
}

.about-me-main-info__role{
  font-size: 1.25rem;
  color: #ffffff;
}

.about-me__description{
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  text-align: start;
}

.about-me-stack{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-me-stack__title{
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
}

.about-me-stack-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.about-me-stack-list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  background: $portfolio_item_control_background;
  border-radius: $border_radius;
  box-shadow: $default_shadow;
}

.about-me-stack-list-item__logo{
  width: 40px;
  aspect-ratio: 1;
}

.about-me__cta{
  height: 60px;
  background-color: $cta_color;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: $border_radius;
  box-shadow: $default_shadow;
  
  &:hover{
    filter: $hover_filter;
  }
}

.contact{
  padding: 30px;
  max-width: 900px;
  background: $components_background;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: $border_radius;
}

.contact__status{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $success_color;
  font-size: 1rem;
  color: #222222;
  font-weight: bold;
  height: 60px;
  border: none;
  border-radius: $border_radius;
  box-shadow: $default_shadow;
  
  &:after{
    position: absolute;
    font-size: 1.5rem;
    content: '\00d7';
    right: 50px;
    color: #333333;

    &:hover{
      filter: $hover_filter;
    }
  }

  &:hover{
    filter: $hover_filter;
  }
}

.contact-header{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-header__title{
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.contact-header__sub{
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

.contact-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form__sender-email{}

.contact-form__message{}

.contact-form__submit{
  background: $cta_color;
  border: none;
  border-radius: $border_radius;
  font-size: 1.5rem;
  font-weight: bold;
  height: 60px;
  color: #ffffff;
  box-shadow: $default_shadow;
  
  &:hover{
    filter: $hover_filter;
  }
}

.contact-controls{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-controls__title{
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
}

.contact-controls-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-controls-list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  background: $portfolio_item_control_background;
  border-radius: $border_radius;
  box-shadow: $default_shadow;

  &:hover{
    filter: $hover_filter;
  }
}

.contact-controls-list-item__icon{
  width: 40px;
  aspect-ratio: 1;
}